@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: spotify-circular;
  src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.woff2") format("woff2"), url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.woff") format("woff"), url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: spotify-circular;
  src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Black.woff2") format("woff2"), url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Black.woff") format("woff"), url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: spotify-circular;
  src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2") format("woff2"), url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff") format("woff"), url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

/* spotifyPatternHomeLarge:"url(https://www-growth.scdn.co/static/home/bursts.svg)",
spotifyPatternHomeTablet:"url(https://www-growth.scdn.co/static/home/bursts-tablet.svg)",
spotifyPatternHomeMobile:"url(https://www-growth.scdn.co/static/home/bursts-mobile.svg)", */

* {
  font-family: Circular, "spotify-circular", "Helvetica", "Arial", "sans-serif" !important;
}

@media (min-width: 640px) {
  .spotifyBg {
    background-image: url("https://www-growth.scdn.co/static/home/bursts-mobile.svg");
  }
}

@media (min-width: 768px) {
  .spotifyBg {
    background-image: url("https://www-growth.scdn.co/static/home/bursts-mobile.svg");
  }
}

@media (min-width: 1024px) {
  .spotifyBg {
    background-image: url("https://www-growth.scdn.co/static/home/bursts-tablet.svg");
  }
}

@media (min-width: 1280px) {
  .spotifyBg {
    background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
  }
}

@media (min-width: 1536px) {
  .spotifyBg {
    background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
  }
}

#__next {
  width: 100vw;
  height: 100vh;
}

.Collapsible {
  /* ml-auto mr-3 mt-3 */
  margin-left: auto;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  background: transparent;
  color: white;
  /* border-radius: 999999px; */
  /* max-height: fit-content; */
  height: max-content;
  padding-bottom: 10px;
  /* border: 1px solid red; */

}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  /* padding: 0 10px; */
  color: white;
}

.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  right: 27px;
  top: 5px;
  display: block;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}

.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}